.DS_Store
build
*.o
*.a
.vscode
local_test
c_cpp_properties.json
launch.json
settings.json
Assignment1/.vscode/c_cpp_properties.json
Assignment1/.vscode/launch.json
Assignment1/.vscode/settings.json
Assignment1/.DS_Store
Assignment1/output2.txt
Assignment1/output1.txt
Assignment1/output3.txt
Assignment1/output.txt
*.zip
notes/x86_on_arm.md
